eoe/Library
eoe/Temp
eoe/Logs
eoe/UserSettings
*.csproj
eoe/obj
eoe/.idea
eoe/Assets/AudioClip
eoe/Assets/AudioClip.meta
eoe/.utmp
eoe/eoe_BurstDebugInformation_DoNotShip
*.apk
eoe/Assets/Ref
eoe/Assets/_BattleSource/Ref
eoe/Assets/_BattleSource/Ref.meta
